<main>
  <form action="/memos/<%= params[:id] %>" method="post">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%= CGI.escapeHTML(@title) %>">
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="content" name="content"><%= CGI.escapeHTML(@content) %></textarea>
    </div>
    <div>
      <input type="hidden" name="_method" value="patch">
      <input type="submit" value="Edit">
    </div>
  </form>
</main>
